.footer {
  display: flex;
  justify-content: space-between; /* Space between items */
  align-items: center; /* Vertically align items */
  padding: 10px 20px; /* Add some padding for spacing */
  background-color: #0f0f0f; /* Black background */
  color: white;
  height: 400px; /* White text for contrast */
}

.footer-logo h1,
.copy-right h4,
.team h4 {
  margin: 0; /* Remove default margin for headings */
}

.footer div {
  flex: 1; /* Distribute space evenly between items */
  text-align: center; /* Center text in each section */
}
